<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.utlight.mapper.StudentMaper">
    <resultMap id="stuMap" type="Student">
        <id property="Id" column="id" />
        <result property="Name" column="name"/>
        <result property="sumScore" column="score_sum"/>
        <result property="avgScore" column="score_avg"/>
        <result property="age" column="age"/>
    </resultMap>

    <select id="getById" resultMap="stuMap" resultType="Student">
        SELECT *
        FROM STUDENT
        WHERE ID = #{id}
    </select>

    <select id="likeName" resultMap="stuMap" resultType="Student">
        SELECT *
        FROM STUDENT
        WHERE NAME LIKE CONCAT('%',#{name},'%')
    </select>

    <select id="getNameById" resultMap="stuMap" resultType="Student">
        SELECT NAME
        FROM STUDENT
        WHERE  ID = #{id}
    </select>
</mapper>